[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/3sky/
Environment="PYTHONPATH=/home/str/3sky/"
ExecStart=/home/str/3sky/.venv/bin/python /home/str/3sky/bot_main.py

[Install]
WantedBy=multi-user.target